XML_Schemas/Portes/portes_segun_validador.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="portes">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element name="recepcion">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="producto" type="xs:string" />
                <xs:element name="cantidad" type="xs:decimal" />
                <xs:element minOccurs="0" name="codigoreceptor" type="xs:string" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="entrega">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="transportista" type="xs:string" />
                <xs:element name="distancia">
                  <xs:complexType>
                    <xs:simpleContent>
                      <xs:extension base="xs:unsignedShort">
                        <xs:attribute name="unidad" type="xs:string" use="required" />
                      </xs:extension>
                    </xs:simpleContent>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
              <xs:attribute name="receptor" type="xs:string" use="required" />
              <xs:attribute name="coste" type="xs:unsignedShort" use="required" />
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>