XML_Schemas/ListaArticulosChoice/listaarticuloschoice2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="codigoType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{3}-[A-Z]{3}-\d{3}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="monitorType">
    <xs:sequence>
      <xs:element name="descripcion" type="xs:string" />
      <xs:element name="resolucion" type="resolucionType" />
    </xs:sequence>
    <xs:attribute name="codigo" type="codigoType" use="optional" />
  </xs:complexType>

  <xs:complexType name="ratonType">
    <xs:sequence>
      <xs:element name="descripcion" type="xs:string" />
      <xs:element name="peso" type="pesoType" />
    </xs:sequence>
    <xs:attribute name="codigo" type="codigoType" use="optional" />

  </xs:complexType>

  <xs:complexType name="tecladoType">
    <xs:sequence>
      <xs:element name="descripcion" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="codigo" type="codigoType" use="optional" />
  </xs:complexType>

  <xs:complexType name="resolucionType">
    <xs:sequence>
      <xs:element name="ancho" type="xs:unsignedShort" />
      <xs:element name="alto" type="xs:unsignedShort" />
    </xs:sequence>
  </xs:complexType>

   <xs:complexType name="pesoType">
    <xs:simpleContent>
      <xs:extension base="xs:unsignedShort">
        <xs:attribute name="unidad" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="g"/>
              <xs:enumeration value="cg"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element name="articulos">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element name="monitor" type="monitorType"/>
          <xs:element name="raton" type="ratonType"/>
          <xs:element name="teclado" type="tecladoType"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="fechageneracion" type="xs:date" use="required" />
    </xs:complexType>
  </xs:element>

</xs:schema>
